In [5]:
import requests
import regex as re
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36"
}
url="https://www.bikewale.com/"
# https://www.bikewale.com/royalenfield-bikes/

In [3]:
response = requests.get(url, headers=headers)
print(response)

<Response [200]>

In [4]:
Rating=[]
NumberOfRating=[]
Brand=[]
CC=[]
Milage=[]
Power=[]
Weight=[]
Price=[]

In [5]:
soup=BeautifulSoup(response.text, "html.parser")
soup1=soup.find_all("div",class_="o-hl o-iT o-o")
temp=soup1[0].find_all("a",class_="o-d o-os")
# print(temp.get("href"))
c=0
count=0
for j in temp:
    link=f"https://www.bikewale.com{j.get("href")}"
    res=requests.get(link, headers=headers)
    soup=BeautifulSoup(res.text, "html.parser")
    soup1=soup.find_all("div",class_="o-C o-cF o-c9 o-bT o-cp o-f")
    for i in soup1:
        var=i.text
        if re.findall("^\d",var):
            tempp=i.find("a",class_="o-f o-aF o-jJ o-eQ")
            list1=tempp.get("href").split("/")
            link2=link+list1[-2]
            # print(link2)
            res1=requests.get(link2, headers=headers)
            soup2=BeautifulSoup(res1.text, "html.parser")
            var1=soup2.find_all("td",class_="o-js o-j1 o-jh o-jJ")
            if len(var1)>=2:
                mcount=0
                for k in var1:
                    if "kmpl" in k.text:
                        Milage.append(re.findall("(\d?\d?\d?\.?\d+)\skmpl",k.text)[0])
                        mcount=1
                if not mcount:
                    Milage.append(np.nan)
            else:
                Milage.append(np.nan)
            var1=i.find("div",class_="o-o FTJfQA o-iT o-ei").text
            var2=i.find("div",class_="o-jK o-ei o-fu").text
            var3=i.find("div",class_="o-eg o-fm o-m5 o-mu o-mL o-na o-fzqLoc o-bv o-h o-bc").text
            var4=i.find("h3",class_="o-j4 o-jq o-hM o-c4 o-jK").text
            temp1=re.findall("(\d.+)\scc",var1)[0]if re.findall("(\d.+)\scc",var1) else np.nan
            CC.append(temp1)
            # temp2=re.findall("\|(\d.+)\skmpl",var1)[0] if re.findall("\|(\d.+)\skmpl",var1) else np.nan
            # Milage.append(temp2)
            temp3= re.findall("(\d?\d?\d?\.?\d+)\sbhp",var1)[0] if re.findall("\d?\d?\d?\.?\d+\sbhp",var1) else np.nan
            Power.append(temp3)
            temp4=re.findall("(\d?\d?\d?\.?\d+)\skg",var1)[0] if re.findall("\d?\d?\d?\.?\d+\skg",var1) else np.nan
            Weight.append(temp4)
            temp5=re.findall("(\w.+)Avg",var2)[0] if re.findall("(\w.+)Avg",var2) else np.nan
            Price.append(temp5)
            temp6=re.findall("(.+)\/",var3)[0] if re.findall("(.+)\/",var3) else np.nan
            Rating.append(temp6)
            temp7=re.findall("\/(.+\d)\sRating",var3)[0] if re.findall("\/(.+\d)\sRating",var3) else np.nan
            NumberOfRating.append(temp7)
            Brand.append(var4)
    # c+=1
    # if c==3:
    #     break
    
print(count)
print(len(Rating))

0
302

In [34]:
# print(Power)

In [6]:
print(len(Brand))
print(len(Rating))
print(len(NumberOfRating))
print(len(CC))
print(len(Milage))
print(len(Power))
print(len(Weight))
print(len(Price))

302
302
302
302
302
302
302
302

In [7]:
doc={"Brand":Brand,"Rating":Rating,"NumberOfRating":NumberOfRating,"CC":CC,"Milage":Milage,"Power":Power,"Weight":Weight,"Price":Price}

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame(doc)

In [10]:
print(df.isnull().sum())

Brand              0
Rating             0
NumberOfRating     0
CC                 0
Milage            56
Power              9
Weight             1
Price              0
dtype: int64

In [11]:
print(df)

                      Brand Rating NumberOfRating   CC Milage Power Weight  \
0           Yamaha MT 15 V2    4.7          51643  155     47  18.1    141
1             Yamaha R15 V4    4.8          51362  155   51.4  18.1    141
2          Yamaha FZS FI V4    4.6           5449  149     60  12.2    136
3         Yamaha Ray ZR 125    4.4           5533  125     49  8.04     99
4        Yamaha FZ S Hybrid    4.6           5104  149     60  12.2    136
..                      ...    ...            ...  ...    ...   ...    ...
297  Yezdi Adventure [2024]    4.7           5169  334     30  29.6    187
298             Zontes 350R    4.7            576  348     34  38.2    180
299             Zontes 350T    4.7            529  348   29.5  38.2    196
300             Zontes 350X    4.7            513  348    NaN  38.2    185
301            Zontes GK350    4.6            516  348   26.7  38.2    188

        Price
0    1,56,445
1    1,70,240
2    1,20,409
3      75,326
4    1,33,696
..        ...
297  2,02,894
298  2,57,014
299  2,75,016
300  2,32,044
301  3,22,016

[302 rows x 8 columns]

In [12]:
df.to_csv("bike_df.csv")

In [58]:
df=pd.read_csv("bike_df.csv")

In [59]:
print(df.isnull().sum())

Unnamed: 0         0
Brand              0
Rating             0
NumberOfRating     0
CC                 0
Milage            56
Power              9
Weight             1
Price              0
dtype: int64

In [60]:
df

,Unnamed: 0,Brand,Rating,NumberOfRating,CC,Milage,Power,Weight,Price
0,0,Yamaha MT 15 V2,4.7,51642,155.0,47.0,18.10,141.0,"1,56,445"
1,1,Yamaha R15 V4,4.8,51362,155.0,51.4,18.10,141.0,"1,70,240"
2,2,Yamaha FZS FI V4,4.6,5449,149.0,60.0,12.20,136.0,"1,20,409"
3,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.0,8.04,99.0,"75,326"
4,4,Yamaha FZ S Hybrid,4.6,5103,149.0,60.0,12.20,136.0,"1,33,696"
...,...,...,...,...,...,...,...,...,...
297,297,Yezdi Adventure [2024],4.7,5169,334.0,30.0,29.60,187.0,"2,02,894"
298,298,Zontes 350R,4.7,576,348.0,34.0,38.20,180.0,"2,57,014"
299,299,Zontes 350T,4.7,529,348.0,29.5,38.20,196.0,"2,75,016"
300,300,Zontes 350X,4.7,513,348.0,NaN,38.20,185.0,"2,32,044"
301,301,Zontes GK350,4.6,516,348.0,26.7,38.20,188.0,"3,22,016"

In [63]:
df.shape

(302, 9)

In [64]:
df.describe(include="all")

,Unnamed: 0,Brand,Rating,NumberOfRating,CC,Milage,Power,Weight,Price
count,302.000000,302,302.000000,302.00000,302.000000,246.000000,293.000000,301.000000,302
unique,NaN,302,NaN,NaN,NaN,NaN,NaN,NaN,299
top,NaN,Zontes GK350,NaN,NaN,NaN,NaN,NaN,NaN,"2,88,016"
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2
mean,150.500000,NaN,4.574503,6976.10596,499.664238,35.025976,52.360205,175.457143,NaN
std,87.324109,NaN,0.396721,15229.27266,439.855316,14.758592,52.318630,54.936308,NaN
min,0.000000,NaN,1.000000,51.00000,49.900000,12.000000,4.290000,45.000000,NaN
25%,75.250000,NaN,4.425000,56.00000,155.000000,22.275000,13.270000,135.000000,NaN
50%,150.500000,NaN,4.600000,537.00000,334.000000,32.950000,29.600000,177.000000,NaN
75%,225.750000,NaN,4.800000,5300.50000,752.500000,45.375000,76.900000,206.000000,NaN
max,301.000000,NaN,5.000000,54495.00000,2458.000000,80.000000,215.000000,427.000000,NaN

In [65]:
df.nunique()

Unnamed: 0        302
Brand             302
Rating             18
NumberOfRating    171
CC                137
Milage             97
Power             207
Weight            156
Price             299
dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      302 non-null    int64
 1   Brand           302 non-null    object
 2   Rating          302 non-null    float64
 3   NumberOfRating  302 non-null    int64
 4   CC              302 non-null    float64
 5   Milage          246 non-null    float64
 6   Power           293 non-null    float64
 7   Weight          301 non-null    float64
 8   Price           302 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 21.4+ KB

In [62]:
df.columns

Index(['Unnamed: 0', 'Brand', 'Rating', 'NumberOfRating', 'CC', 'Milage',
       'Power', 'Weight', 'Price'],
      dtype='object')

In [68]:
df['Price']=pd.to_numeric(df['Price'].astype(str).str.replace(",",""),errors='coerce')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      302 non-null    int64
 1   Brand           302 non-null    object
 2   Rating          302 non-null    float64
 3   NumberOfRating  302 non-null    int64
 4   CC              302 non-null    float64
 5   Milage          246 non-null    float64
 6   Power           293 non-null    float64
 7   Weight          301 non-null    float64
 8   Price           302 non-null    int64
dtypes: float64(5), int64(3), object(1)
memory usage: 21.4+ KB

In [72]:
df=df.rename(columns={'Unnamed: 0':"S.No"})

In [82]:
df=df.rename(columns={'Number_Of_Rating':"No_of_Rating"})

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          302 non-null    int64
 1   Brand         302 non-null    object
 2   Rating        302 non-null    float64
 3   No_of_Rating  302 non-null    int64
 4   CC            302 non-null    float64
 5   Milage        246 non-null    float64
 6   Power         293 non-null    float64
 7   Weight        301 non-null    float64
 8   Price         302 non-null    int64
dtypes: float64(5), int64(3), object(1)
memory usage: 21.4+ KB

In [85]:
df.to_csv("bike_df.csv")

In [86]:
df.isnull().sum()

S.No             0
Brand            0
Rating           0
No_of_Rating     0
CC               0
Milage          56
Power            9
Weight           1
Price            0
dtype: int64

In [87]:
df.shape

(302, 9)

In [1]:
import pandas as pd

In [9]:
dummy_df=pd.DataFrame({
    'cc':[110,150,200],
    'weight':[112,140,150],
    'mileage':[20,None,None]})

In [10]:
dummy_df

    cc  weight  mileage
0  110     112     20.0
1  150     140      NaN
2  200     150      NaN

In [11]:
dummy_df.loc[dummy_df['mileage'].isna(),'mileage']=(dummy_df['weight']/dummy_df['cc'])*20
print(dummy_df)

    cc  weight    mileage
0  110     112  20.000000
1  150     140  18.666667
2  200     150  15.000000

In [13]:
dummy_df['mileage']=dummy_df['mileage'].round(2)

In [14]:
dummy_df

    cc  weight  mileage
0  110     112    20.00
1  150     140    18.67
2  200     150    15.00

In [16]:
df=pd.read_csv("bike_df.csv")

In [17]:
df

,Unnamed: 0,S.No,Brand,Rating,No_of_Rating,CC,Milage,Power,Weight,Price
0,0,0,Yamaha MT 15 V2,4.7,51642,155.0,47.0,18.10,141.0,156445
1,1,1,Yamaha R15 V4,4.8,51362,155.0,51.4,18.10,141.0,170240
2,2,2,Yamaha FZS FI V4,4.6,5449,149.0,60.0,12.20,136.0,120409
3,3,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.0,8.04,99.0,75326
4,4,4,Yamaha FZ S Hybrid,4.6,5103,149.0,60.0,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...,...
297,297,297,Yezdi Adventure [2024],4.7,5169,334.0,30.0,29.60,187.0,202894
298,298,298,Zontes 350R,4.7,576,348.0,34.0,38.20,180.0,257014
299,299,299,Zontes 350T,4.7,529,348.0,29.5,38.20,196.0,275016
300,300,300,Zontes 350X,4.7,513,348.0,NaN,38.20,185.0,232044
301,301,301,Zontes GK350,4.6,516,348.0,26.7,38.20,188.0,322016

In [18]:
df.columns

Index(['Unnamed: 0', 'S.No', 'Brand', 'Rating', 'No_of_Rating', 'CC', 'Milage',
       'Power', 'Weight', 'Price'],
      dtype='object')

In [19]:
df.loc[df['Milage'].isna(),'Milage']=(df['Weight']/df['CC'])*20
df

,Unnamed: 0,S.No,Brand,Rating,No_of_Rating,CC,Milage,Power,Weight,Price
0,0,0,Yamaha MT 15 V2,4.7,51642,155.0,47.000000,18.10,141.0,156445
1,1,1,Yamaha R15 V4,4.8,51362,155.0,51.400000,18.10,141.0,170240
2,2,2,Yamaha FZS FI V4,4.6,5449,149.0,60.000000,12.20,136.0,120409
3,3,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.000000,8.04,99.0,75326
4,4,4,Yamaha FZ S Hybrid,4.6,5103,149.0,60.000000,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...,...
297,297,297,Yezdi Adventure [2024],4.7,5169,334.0,30.000000,29.60,187.0,202894
298,298,298,Zontes 350R,4.7,576,348.0,34.000000,38.20,180.0,257014
299,299,299,Zontes 350T,4.7,529,348.0,29.500000,38.20,196.0,275016
300,300,300,Zontes 350X,4.7,513,348.0,10.632184,38.20,185.0,232044
301,301,301,Zontes GK350,4.6,516,348.0,26.700000,38.20,188.0,322016

In [20]:
df.isnull().sum()

Unnamed: 0      0
S.No            0
Brand           0
Rating          0
No_of_Rating    0
CC              0
Milage          0
Power           9
Weight          1
Price           0
dtype: int64

In [21]:
df['Milage']=df['Milage'].round(2)

In [22]:
df

,Unnamed: 0,S.No,Brand,Rating,No_of_Rating,CC,Milage,Power,Weight,Price
0,0,0,Yamaha MT 15 V2,4.7,51642,155.0,47.00,18.10,141.0,156445
1,1,1,Yamaha R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240
2,2,2,Yamaha FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409
3,3,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326
4,4,4,Yamaha FZ S Hybrid,4.6,5103,149.0,60.00,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...,...
297,297,297,Yezdi Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894
298,298,298,Zontes 350R,4.7,576,348.0,34.00,38.20,180.0,257014
299,299,299,Zontes 350T,4.7,529,348.0,29.50,38.20,196.0,275016
300,300,300,Zontes 350X,4.7,513,348.0,10.63,38.20,185.0,232044
301,301,301,Zontes GK350,4.6,516,348.0,26.70,38.20,188.0,322016

In [23]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [24]:
df

,S.No,Brand,Rating,No_of_Rating,CC,Milage,Power,Weight,Price
0,0,Yamaha MT 15 V2,4.7,51642,155.0,47.00,18.10,141.0,156445
1,1,Yamaha R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240
2,2,Yamaha FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409
3,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326
4,4,Yamaha FZ S Hybrid,4.6,5103,149.0,60.00,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...
297,297,Yezdi Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894
298,298,Zontes 350R,4.7,576,348.0,34.00,38.20,180.0,257014
299,299,Zontes 350T,4.7,529,348.0,29.50,38.20,196.0,275016
300,300,Zontes 350X,4.7,513,348.0,10.63,38.20,185.0,232044
301,301,Zontes GK350,4.6,516,348.0,26.70,38.20,188.0,322016

In [6]:
df.to_csv("bike_df.csv")

In [7]:
df=pd.read_csv("bike_df.csv")

print(df)

In [8]:
# UNIVARIATE ANALYSIS
# Price Distribution
plt.figure(figsize=(8,5))
plt.hist(df['Price'], bins=20)
plt.xlabel("Price (₹)")
plt.ylabel("Count")
plt.title("Univariate: Price Distribution")
plt.show()

NameError: name 'plt' is not defined

In [96]:
import pandas as pd
df=pd.read_csv("bike_df_final.csv")
print(df)

     Unnamed: 0  S.No                   Brand  Rating  NumberOfRating     CC  \
0           226     0         Yamaha MT 15 V2     4.7           51643  155.0
1           225     1           Yamaha R15 V4     4.8           51362  155.0
2           237     2        Yamaha FZS FI V4     4.6            5449  149.0
3           240     3       Yamaha Ray ZR 125     4.4            5533  125.0
4           234     4      Yamaha FZ S Hybrid     4.6            5104  149.0
..          ...   ...                     ...     ...             ...    ...
297         151   297  Yezdi Adventure [2024]     4.7            5169  334.0
298         147   298             Zontes 350R     4.7             576  348.0
299         149   299             Zontes 350T     4.7             529  348.0
300         146   300             Zontes 350X     4.7             513  348.0
301         148   301            Zontes GK350     4.6             516  348.0

     Mileage  Power  Weight   Price
0      47.00  18.10   141.0  156445
1      51.40  18.10   141.0  170240
2      60.00  12.20   136.0  120409
3      49.00   8.04    99.0   75326
4      60.00  12.20   136.0  133696
..       ...    ...     ...     ...
297    30.00  29.60   187.0  202894
298    34.00  38.20   180.0  257014
299    29.50  38.20   196.0  275016
300    30.07  38.20   185.0  232044
301    26.70  38.20   188.0  322016

[302 rows x 10 columns]

In [97]:
print(df)

     Unnamed: 0  S.No                   Brand  Rating  NumberOfRating     CC  \
0           226     0         Yamaha MT 15 V2     4.7           51643  155.0
1           225     1           Yamaha R15 V4     4.8           51362  155.0
2           237     2        Yamaha FZS FI V4     4.6            5449  149.0
3           240     3       Yamaha Ray ZR 125     4.4            5533  125.0
4           234     4      Yamaha FZ S Hybrid     4.6            5104  149.0
..          ...   ...                     ...     ...             ...    ...
297         151   297  Yezdi Adventure [2024]     4.7            5169  334.0
298         147   298             Zontes 350R     4.7             576  348.0
299         149   299             Zontes 350T     4.7             529  348.0
300         146   300             Zontes 350X     4.7             513  348.0
301         148   301            Zontes GK350     4.6             516  348.0

     Mileage  Power  Weight   Price
0      47.00  18.10   141.0  156445
1      51.40  18.10   141.0  170240
2      60.00  12.20   136.0  120409
3      49.00   8.04    99.0   75326
4      60.00  12.20   136.0  133696
..       ...    ...     ...     ...
297    30.00  29.60   187.0  202894
298    34.00  38.20   180.0  257014
299    29.50  38.20   196.0  275016
300    30.07  38.20   185.0  232044
301    26.70  38.20   188.0  322016

[302 rows x 10 columns]

In [98]:
pattern = r'^(Royal Enfield|Suzuki|Triumph|Aprilia|Benelli|BMW|Brixton Motorcycles|BSA|Ducati|Harley-Davidson|Husqvarna|Indian|Jawa|Keeway|Moto Guzzi|Moto Morini|QJ Motor|Vespa|VLF|Yezdi|Zontes|Yamaha|Honda|TVS|Hero|KTM|Bajaj|Kawasaki)'
df["Brand_Name"]=df['Brand'].str.extract(pattern, expand=False)

In [99]:
df

,Unnamed: 0,S.No,Brand,Rating,NumberOfRating,CC,Mileage,Power,Weight,Price,Brand_Name
0,226,0,Yamaha MT 15 V2,4.7,51643,155.0,47.00,18.10,141.0,156445,Yamaha
1,225,1,Yamaha R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240,Yamaha
2,237,2,Yamaha FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409,Yamaha
3,240,3,Yamaha Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326,Yamaha
4,234,4,Yamaha FZ S Hybrid,4.6,5104,149.0,60.00,12.20,136.0,133696,Yamaha
...,...,...,...,...,...,...,...,...,...,...,...
297,151,297,Yezdi Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894,Yezdi
298,147,298,Zontes 350R,4.7,576,348.0,34.00,38.20,180.0,257014,Zontes
299,149,299,Zontes 350T,4.7,529,348.0,29.50,38.20,196.0,275016,Zontes
300,146,300,Zontes 350X,4.7,513,348.0,30.07,38.20,185.0,232044,Zontes
301,148,301,Zontes GK350,4.6,516,348.0,26.70,38.20,188.0,322016,Zontes

In [105]:
last_col = df.columns[-1]      # get last column name
df = df[[last_col] + df.columns[:-1].tolist()]

In [106]:
df

,Brand_Name,Model,Brand,Rating,NumberOfRating,CC,Mileage,Power,Weight,Price
0,Yamaha,MT 15 V2,Yamaha MT 15 V2,4.7,51643,155.0,47.00,18.10,141.0,156445
1,Yamaha,R15 V4,Yamaha R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240
2,Yamaha,FZS FI V4,Yamaha FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409
3,Yamaha,Ray ZR 125,Yamaha Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326
4,Yamaha,FZ S Hybrid,Yamaha FZ S Hybrid,4.6,5104,149.0,60.00,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...,...
297,Yezdi,Adventure [2024],Yezdi Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894
298,Zontes,350R,Zontes 350R,4.7,576,348.0,34.00,38.20,180.0,257014
299,Zontes,350T,Zontes 350T,4.7,529,348.0,29.50,38.20,196.0,275016
300,Zontes,350X,Zontes 350X,4.7,513,348.0,30.07,38.20,185.0,232044
301,Zontes,GK350,Zontes GK350,4.6,516,348.0,26.70,38.20,188.0,322016

In [100]:
df.drop(["Unnamed: 0","S.No"],axis=1,inplace=True)

In [107]:
df.drop(["Brand"],axis=1,inplace=True)

C:\Users\jerin\AppData\Local\Temp\ipykernel_16248\871636973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["Brand"],axis=1,inplace=True)

In [111]:
df

,Brand_Name,Model,Rating,NumberOfRating,CC,Mileage,Power,Weight,Price
0,Yamaha,MT 15 V2,4.7,51643,155.0,47.00,18.10,141.0,156445
1,Yamaha,R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240
2,Yamaha,FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409
3,Yamaha,Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326
4,Yamaha,FZ S Hybrid,4.6,5104,149.0,60.00,12.20,136.0,133696
...,...,...,...,...,...,...,...,...,...
297,Yezdi,Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894
298,Zontes,350R,4.7,576,348.0,34.00,38.20,180.0,257014
299,Zontes,350T,4.7,529,348.0,29.50,38.20,196.0,275016
300,Zontes,350X,4.7,513,348.0,30.07,38.20,185.0,232044
301,Zontes,GK350,4.6,516,348.0,26.70,38.20,188.0,322016

In [112]:
df.to_csv("bike_data_set1.csv")

In [101]:
brand_pattern = r'^(Royal Enfield|Suzuki|Triumph|Aprilia|Benelli|BMW|Brixton Motorcycles|BSA|Ducati|Harley-Davidson|Husqvarna|Indian|Jawa|Keeway|Moto Guzzi|Moto Morini|QJ Motor|Vespa|VLF|Yezdi|Zontes|Yamaha|Honda|TVS|Hero|KTM|Bajaj|Kawasaki)'
df['Model'] = df['Brand'].str.replace(brand_pattern, '', regex=True).str.strip()

In [102]:
df

,Brand,Rating,NumberOfRating,CC,Mileage,Power,Weight,Price,Brand_Name,Model
0,Yamaha MT 15 V2,4.7,51643,155.0,47.00,18.10,141.0,156445,Yamaha,MT 15 V2
1,Yamaha R15 V4,4.8,51362,155.0,51.40,18.10,141.0,170240,Yamaha,R15 V4
2,Yamaha FZS FI V4,4.6,5449,149.0,60.00,12.20,136.0,120409,Yamaha,FZS FI V4
3,Yamaha Ray ZR 125,4.4,5533,125.0,49.00,8.04,99.0,75326,Yamaha,Ray ZR 125
4,Yamaha FZ S Hybrid,4.6,5104,149.0,60.00,12.20,136.0,133696,Yamaha,FZ S Hybrid
...,...,...,...,...,...,...,...,...,...,...
297,Yezdi Adventure [2024],4.7,5169,334.0,30.00,29.60,187.0,202894,Yezdi,Adventure [2024]
298,Zontes 350R,4.7,576,348.0,34.00,38.20,180.0,257014,Zontes,350R
299,Zontes 350T,4.7,529,348.0,29.50,38.20,196.0,275016,Zontes,350T
300,Zontes 350X,4.7,513,348.0,30.07,38.20,185.0,232044,Zontes,350X
301,Zontes GK350,4.6,516,348.0,26.70,38.20,188.0,322016,Zontes,GK350

In [86]:
print(df['Brand'].str.replace(r'^[A-Za-z\-]+(?:\s[A-Za-z]+)?\s', '', regex=True).tail(50))

252                  Bob
253                Glide
254                  250
255                  401
256               Bobber
257         Sixty Bobber
258           Dark Horse
259    Bobber Dark Horse
260        Chief Limited
261                Scout
262                Scout
263            42 Bobber
264                   42
265                42 FJ
266                Perak
267                  350
268                SR125
269                V302C
270                RR300
271                SR250
272              K300 SF
273         K-Light 250V
274                  300
275                 300i
276               V85 TT
277           Seiemmezzo
278               X-Cape
279              SRV 300
280              SRC 250
281              SRK 400
282              SRC 500
283                  125
284                  125
285                  150
286                  125
287                  125
288                  125
289                  150
290                  150
291                  150
292              Mobster
293             Roadster
294            Adventure
295            Scrambler
296               [2024]
297               [2024]
298                 350R
299                 350T
300                 350X
301                GK350
Name: Brand, dtype: object

In [58]:
print(df["Brand"].head(100))

0          Yamaha MT 15 V2
1            Yamaha R15 V4
2         Yamaha FZS FI V4
3        Yamaha Ray ZR 125
4       Yamaha FZ S Hybrid
              ...
95            Honda CB650R
96      Honda CB750 Hornet
97     Honda CB1000 Hornet
98    Honda Transalp XL750
99       Bajaj Pulsar N160
Name: Brand, Length: 100, dtype: object

In [61]:
print(df)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
43    None
44    None
45    None
46    None
47    None
48    None
49    None
Name: Brand, dtype: object

In [37]:
last_col = df.columns[-1]      # get last column name
df = df[[last_col] + df.columns[:-1].tolist()]

In [63]:
print(df)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
43    None
44    None
45    None
46    None
47    None
48    None
49    None
Name: Brand, dtype: object

In [42]:
df.drop(["Unnamed: 0","S.No"],axis=1,inplace=True)

C:\Users\jerin\AppData\Local\Temp\ipykernel_16248\4014051254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["Unnamed: 0","S.No"],axis=1,inplace=True)

In [53]:
df

In [54]:
print(df)

None

In [55]:
print(df)

None